* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#container {
    display: flex;
    flex-direction: column;
}
#nav {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    border: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-image: linear-gradient(45deg, grey, black);
}
#nav-h1 {
    margin-left: 40px;
    margin-right: auto;
    color: black;
}
#nav > div >nav {
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: white;
}
nav > a{
    text-decoration: none;
    color: white;
}
#nav-btn {
    margin-right: 40px;
    margin-left: auto;
    padding: 10px;
}
#nav-btn > button > a {
    text-decoration: none;
    color: black;
}
#nav-btn > button {
    padding: 10px;
    background-color: goldenrod;
    border: none;
}


html {
    scroll-behavior: smooth;
}

body {
    background: #0a0a0a;
    color: #f2f2f2;
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.small-title {
    color: goldenrod;
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.gold-line {
    width: 32px;
    height: 1px;
    background: var(--gold);
    margin: 25px 0;
}

.about-hero {
    min-height: 650px;
    padding-top: 80px;
    display: flex;
    position: relative;
    overflow: hidden;
    background: #0b0b0b;
}
.hero-content {
    width: 38%;
    padding: 100px 0 70px 7%;
    position: relative;
    z-index: 3;
}

.hero-content h1 {
    font-family: "Cormorant Garamond", serif;
    font-size: clamp(55px, 6vw, 95px);
    font-weight: 400;
    line-height: 0.78;
    letter-spacing: 2px;
}

.hero-content h1 span {
    display: block;
    color: goldenrod;
    font-style: italic;
}

.hero-description {
    width: 280px;
    margin-top: 35px;
    color: white;
    line-height: 1.9;
}

.hero-image {
    width: 57%;
    height: 570px;
    position: absolute;
    right: 5%;
    top: 80px;
    overflow: hidden;
}
.hero-image::after {
    content: "";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(
            90deg,
            #0b0b0b 0%,
            transparent 30%,
            rgba(0,0,0,0.15) 100%
        );
}
.hero-image img {
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%) brightness(55%);
    transition: 0.7s;
}

.hero-image:hover img {
    transform: scale(1.03);
    filter: grayscale(70%) brightness(65%);
}

.photographers {
    min-height: 600px;
    padding: 90px 7%;
    background:
        linear-gradient(135deg, #151515, #0d0d0d);
    display: flex;
    gap: 70px;
    align-items: center;
}
.section-intro {
    width: 32%;
}

.section-intro h2,
.style-intro h2,
.equipment-content h2 {
    font-size: 45px;
    font-weight: 400;
    line-height: 0.95;
    font-family: 'Times New Roman', Times, serif;
}

.section-intro > p:last-child {
    margin-top: 30px;
    color: white;
    font-size: 15px;
    line-height: 1.9;
    max-width: 320px;
    font-family: serif;
}
.photographer-cards {
    display: flex;
    gap: 25px;
    flex: 1;
}
.photographer-card {
    width: 50%;
    height: 390px;
    position: relative;
    overflow: hidden;
    border: 1px solid #303030;
}
.profile-image {
    width: 100%;
    height: 100%;
}
.profile-image img {
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%) brightness(65%);
    transition: 0.6s;
}
.photographer-card:hover img {
    transform: scale(1.05);
    filter: grayscale(70%) brightness(70%);
}
.profile-overlay {
    position: absolute;
    inset: 0;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background:
        linear-gradient(
            transparent 25%,
            rgba(0,0,0,0.95) 100%
        );
}
.number {
    position: absolute;
    top: 25px;
    right: 20px;
    color: goldenrod;
    font-family: "Cormorant Garamond", serif;
    font-size: 25px;
}

.profile-overlay h3 {
    font-family:'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 400;
}
.role {
    color: goldenrod;
    font-size: 12px;
    margin-top: 2px;
}
.quote {
    color: #aaa;
    font-size: 12px;
    line-height: 1.7;
    margin: 15px 0;
    max-width: 260px;
}
.profile-info {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 10px;
    letter-spacing: 1px;
    color: #999;
}

.shooting-style {
    padding: 100px 7%;
    display: flex;
    gap: 70px;
    background: #0b0b0b;
}
.style-intro {
    width: 34%;
}

.style-intro h2 {
    font-size: 55px;
}
.style-tags {
    display: flex;
    gap: 15px;
    margin: 30px 0;
    flex-wrap: wrap;
}
.style-tags span {
    font-size: 10px;
    letter-spacing: 2px;
    color: goldenrod;
}
.style-tags span:not(:last-child)::after {
    content: "·";
    color: goldenrod;
    margin-left: 15px;
}
.style-intro > p:last-child {
    color: rgb(229, 228, 228);
    font-size: 14px;
    line-height: 1.9;
    max-width: 330px;
}
.style-items {
    flex: 1;
    display: flex;
    gap: 15px;
}
.style-item {
    flex: 1;
    border-right: 1px solid #333;
    padding-right: 15px;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
}
.style-image {
    height: 300px;
    overflow: hidden;
}
.style-image img {
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%) brightness(65%);
    transition: 0.5s;
}
.style-item:hover img {
    transform: scale(1.05);
    filter: grayscale(40%) brightness(70%);
}
.style-number {
    display: block;
    color: goldenrod;
    font-family: "Cormorant Garamond", serif;
    font-size: 25px;
    margin-top: 12px;
}
.style-item h3 {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-weight: 400;
    margin-top: 2px;
}
.style-item p {
    color: rgb(185, 183, 183);
    font-size: 12px;
    line-height: 1.7;
    margin-top: 10px;
    padding-right: 10px;
}
.equipment {
    min-height: 500px;
    display: flex;
    background: #121212;
}
.equipment-image {
    width: 48%;
    position: relative;
    overflow: hidden;
}
.equipment-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%) brightness(45%);
}
.equipment-content {
    width: 52%;
    padding: 90px 6%;
}
.equipment-content h2 {
    margin-bottom: 50px;
}
.equipment-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.equipment-item {
    padding: 25px 20px;
    border: 2px solid #242424;
}

.equipment-icon {
    color: goldenrod;
    font-size: 23px;
    margin-bottom: 15px;
}
.equipment-item h3 {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 8px;
}
.equipment-item p {
    font-size: 12px;
    color: white;
    line-height: 1.7;
}
.equipment-item:p(:last-child) {
    display: block;
    margin-top: 8px;
    color: #aaa;
    font-size: 4px;
}
#footer {
    display: flex;
    gap: 10%;
    border: 1px solid black;
    padding: 50px;
    background-color: black;
}
#footer > div > h2 {
    text-align: center;
    color: white;
}
hr {
    width: 50px;
    height: 2px;
    background-color: goldenrod;
    border: none;
    margin-left: 100px;
}
#footer >div >p {
    text-align: center;
    color: white;
}
#links {
    display: flex;
    padding-left: 15px;
    gap: 20px;
}
.footer-icon {
    font-size: 20px;
    color: goldenrod;
    border: 1px solid goldenrod;
    padding: 10px 30px 10px 10px;
    border-radius: 50%;
}
.quick {
    color: goldenrod;
}
.quick > a {
    text-decoration: none;
    color: white;
}
.service {
    color:goldenrod;
}    
.service > a {
    color: white;
    text-decoration: none;
}
#contact > ul > div >img {
    width: 20px;
    height: 20px;
}
#contact > ul > div {
    display: flex;
    gap: 20px;
}
#contact > ul > div > p {
    color: white;
}
#contact > ul >p {
    color: goldenrod;
}
.home-icon {
    font-size: 20px;
    color: goldenrod;
}
ul {
    list-style-type: none;
}