* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#container {
    display: flex;
    flex-direction: column;
}
#nav {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    border: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-image: linear-gradient(45deg, grey, black);
}
#nav-h1 {
    margin-left: 40px;
    margin-right: auto;
}
#nav > div >nav {
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
text-decoration: none;
    color: white;
}
nav > a{
    text-decoration: none;
    color: white;
}
#nav-btn {
    margin-right: 40px;
    margin-left: auto;
    padding: 10px;
}
#nav-btn > button > a {
    text-decoration: none;
    color: black;
}
#nav-btn > button {
    padding: 10px;
    background-color: goldenrod;
    border: none;
}
#hero {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding-left: 30px;
    padding-top: 50px;
    border: 1px solid black;
    position: relative;
    background-image: url(../images/back\ img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}
#text{
    padding-top: 60px;
    color: white;
}
#contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    height: 100%;
}
#contact-us {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    height: 100vh;
    padding-left: 90px ;
}
#contact-form > h3 {
    color: white;
}
#name-em > p {
    color: white;
}
#check > p {
    color: white;
}
#check > label {
    color: white;
}
#div2 > label {
    color: white;
}
#message > label {
    color: white;
}
textarea {
    padding-left: 20px;
    padding-top: 10px;
    background-color: #242424;
    color: #ffffff;
    border: 1px solid #555555;
    width: 80%;
    height: 100px;
}
#contact-sec {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    height: 650px;
    padding-top: 50px;
    padding-left: 100px;
    width: 100%;
    background-color: #1C1C1C;
}
input {
    background-color: #242424;
    color: #ffffff;
    border: 1px solid #555555;
}
#contact-us > h3 {
    color: white;
}
.cont-us > div >p {
    color: white;
}
#cont > hr {
    width: 80%;
    background-color: lightyellow;
}
#follow >p  {
    color: white;
}
#cont {
    display: flex;
    flex-direction: column;
    gap: 20px;

}
#cont-link {
    display: flex;
    gap: 30px;
}
.web-icon {
    font-size: 30px;
    color: goldenrod;
}
.website-icon {
    font-size: 20px;
    border: 1px solid goldenrod;
    color: goldenrod;
    padding: 10px 25px 10px 10px;
    border-radius: 50%;
    display: inline-flex;
}
.yt-icon {
    font-size: 20px;
    border: 1px solid goldenrod;
    color: goldenrod;
    padding: 10px 30px 10px 10px;
    border-radius: 50%;
    display: inline-flex;
}
.cont-us {
    display: flex;
    align-items: center;
    gap: 20px;
}
#cont > div {
    width: 80%;
    height: 70px;
}
#name-em > input {
    width: 80%;
    height: 30px;
}

form > button {
    padding: 10px;
    border-radius: 10px;
}

#footer {
    display: flex;
    gap: 10%;
    border: 1px solid black;
    padding: 50px;
    background-color: black;
}
#footer > div > h2 {
    text-align: center;
    color: white;
}
#footer > div > hr {
    width: 50px;
    height: 2px;
    background-color: goldenrod;
    border: none;
    margin-left: 100px;
}
#footer >div >p {
    text-align: center;
    color: white;
}
#links {
    display: flex;
    padding-left: 15px;
    gap: 20px;
}
.footer-icon {
    font-size: 20px;
    color: goldenrod;
    border: 1px solid goldenrod;
    padding: 10px 30px 10px 10px;
    border-radius: 50%;
}
.quick {
    color: goldenrod;
}
.quick > a {
    text-decoration: none;
    color: white;
}
.service {
    color:goldenrod;
}    
.service > a {
    color: white;
    text-decoration: none;
}
#contact > ul > div >img {
    width: 20px;
    height: 20px;
}
#contact > ul > div {
    display: flex;
    gap: 20px;
}
#contact > ul > div > p {
    color: white;
}
#contact > ul >p {
    color: goldenrod;
}
.home-icon {
    font-size: 20px;
    color: goldenrod;
}
ul {
    list-style-type: none;
}