
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#container {
    display: flex;
    flex-direction: column;
}
#nav {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    border: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-image: linear-gradient(45deg, grey, black);
}
#nav-h1 {
    margin-left: 40px;
    margin-right: auto;
}
#nav > div >nav {
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: white;
}
nav > a{
    text-decoration: none;
    color: white;
}
#nav-btn {
    margin-right: 40px;
    margin-left: auto;
    padding: 10px;
}
#nav-btn > button > a {
    text-decoration: none;
    color: black;
}
#nav-btn > button {
    padding: 10px;
    background-color: goldenrod;
    border: none;
}
#hero {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding-left: 30px;
    padding-top: 50px;
    position: relative;
    background-image: url('../images/photography.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: brown;
}
#hero > div > button {
    width: 150px;
    margin-top: 20px;
    padding: 10px 8px 10px 8px;
    background-color: goldenrod;
    border: none;
}
#hero > div > button > a {
    text-decoration: none;
    color: black;
}
#plans {
    display: flex;
    margin:20px;
    justify-content: space-around;
    gap: 60px;
    position: absolute;
    top: 520px;
    left: 130px;
    width: 80%;
}
.plan {
    border: 1px solid black;
    padding: 20px;
    height: 150px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #2B2B2B;
    border-radius: 20px;
    border: none;

}
.plan > i {
    font-size: 30px;
    color: goldenrod;
}
.plan > p {
    color: white;
}
#features {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 230px 30px 200px 30px;
    height: 480px;
    background-color: white;
}
#featured {
    display: flex;
    gap: 55%;
}
#feature {
    padding-top: 30px;
    padding-left: 100px;
}
#featureBtn {
    margin-top: 80px;
}
#featured > div > button {
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: goldenrod;
}
#featured > div > button > a {
    text-decoration: none;
    color: black;
}
body {
    background-color: rgb(240, 239, 239);
}
#pics {
    margin-left: 100px;
    margin-right: 100px;
    display:flex;
    gap: 30px;
    height: 250px;
}
.pic {
    border:1px solid black;
    width: 40%;
}
.pic > img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}
#footer {
    display: flex;
    gap: 10%;
    border: 1px solid black;
    padding: 50px;
    background-color: black;
}
#footer > div > h2 {
    text-align: center;
    color: white;
}
hr {
    width: 50px;
    height: 2px;
    background-color: goldenrod;
    border: none;
    margin-left: 100px;
}
#footer >div >p {
    text-align: center;
    color: white;
}
#links {
    display: flex;
    padding-left: 15px;
    gap: 20px;
}
.footer-icon {
    font-size: 20px;
    color: goldenrod;
    border: 1px solid goldenrod;
    padding: 10px 30px 10px 10px;
    border-radius: 50%;
}
.quick {
    color: goldenrod;
}
.quick > a {
    text-decoration: none;
    color: white;
}
.service {
    color:goldenrod;
}    
.service > a {
    color: white;
    text-decoration: none;
}
#contact > ul > div >img {
    width: 20px;
    height: 20px;
}
#contact > ul > div {
    display: flex;
    gap: 20px;
}
#contact > ul > div > p {
    color: white;
}
#contact > ul >p {
    color: goldenrod;
}
.home-icon {
    font-size: 20px;
    color: goldenrod;
}
ul {
    list-style-type: none;
}

