* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#container {
    display: flex;
    flex-direction: column;
}
#nav {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    border: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-image: linear-gradient(45deg, grey, black);
}
#nav-h1 {
    margin-left: 40px;
    margin-right: auto;
}
#nav > div >nav {
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: white;
}
nav > a{
    text-decoration: none;
    color: white;
}
#nav-btn {
    margin-right: 40px;
    margin-left: auto;
    padding: 10px;
}
#nav-btn > button > a {
    text-decoration: none;
    color: black;
}
#nav-btn > button {
    padding: 10px;
    background-color: goldenrod;
    border: none;
}